*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fontes/Gilroy-Light.otf) format('truetype');
}

ul {
    list-style: none;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
}

div {
    display: inline-block;
}

.bg1{
    height: 720px;
    max-width: 100%;
    background-image: url(../img/tenis_preto.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 16px;
}

.bg1 span {
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 104px;
    line-height: 104px;
    font-weight: 700;
    letter-spacing: -0.02em;
    
}

.contact_form {
    background-color: #F3F3F3;
    color: #969696;
}

.contact_form label {
    color: #969696;
}

#checkbox {
    width: 28px;
    height: 28px;
}

.contact_form form input{
    font-family: 'Gilroy';
    font-style: normal;
    color: #969696;
    border-radius: 12px;
    background-color: white;
    width: 517px;
    height: 76px;
    border: 0px;
    margin-top: 25px;
    display: grid;
}

.form {
    margin-left: 48px;
}

.contact_form form textarea{
    font-family: 'Gilroy';
    font-style: normal;
    color: #969696;
    resize: none;
    background-color: white;
    border-radius: 12px;
    width: 517px;
    height: 260px;
    border: 0px;
    margin-top: 25px;
}

.contact_form form button{
    font-family: 'Gilroy';
    font-style: normal;
}